@page "/user"
@using WebShopApp_Maui.Services
@using Microsoft.Maui.Storage;
@using Newtonsoft.Json;
@inject IWebShopAppService webShopAppService;
@inject NavigationManager navManager;

@if (user != null)
{
    <div class="clearfix">
        <div class="column menu">
            <div class="vertical-menu">
                <a class="@(myAccountFlag ? "active" : "")" @onclick='(() => ChangeActiveMenu("MyAccount"))'>My Account</a>
                <a class="@(changePasswordFlag ? "active" : "")" @onclick='(() => ChangeActiveMenu("ChangePassword"))'>Change Password</a>
                <a class="@(orderHistoryFlag ? "active" : "")" @onclick='(() => ChangeActiveMenu("OrderHistory"))'>Order History</a>
            </div>
        </div>
        <div class="column content">
            <div>
                <h4>@headerText</h4>
            </div>
            <br />
            @if (myAccountFlag)
            {
                <div>
                    <p><strong>Name:</strong> @user.Name</p>
                    <p><strong>Email:</strong> @user.Email</p>
                    <p><strong>Mobile:</strong> @user.Mobile</p>
                    <p><strong>Address:</strong> @user.Address</p>
                    <p><strong>Roles:</strong> @user.Roles</p>
                    <button class="btn btn-primary" @onclick="() => EditButtonClick(user)">Edit</button>
                </div>
            }

            @if (changePasswordFlag)
            {
                <p>Change Password</p>
            }

            @if (orderHistoryFlag)
            {
                <p>Order History</p>
            }

            @if (showEditPopup)
            {
                <div class="modal">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5>Edit User</h5>
                            <span class="close" @onclick="ToggleEditPopup">&times;</span>
                        </div>
                        <div class="modal-body">
                            <EditForm Model="@userToUpdate" OnValidSubmit="UpdateUser">
                                <DataAnnotationsValidator />
                                <div class="form-group">
                                    <label>Name:</label>
                                    <InputText @bind-Value="userToUpdate.Name" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <label>Email:</label>
                                    <InputText @bind-Value="userToUpdate.Email" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <label>Mobile:</label>
                                    <InputText @bind-Value="userToUpdate.Mobile" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <label>Address:</label>
                                    <InputText @bind-Value="userToUpdate.Address" class="form-control" />
                                </div>
                            </EditForm>
                        </div>
                        <div class="modal-footer">
                            <input type="button" class="btn btn-primary" value="Save" @onclick="UpdateUser" />
                            <input type="button" class="btn btn-primary" value="Cancel" @onclick="ToggleEditPopup" />
                        </div>
                    </div>
                </div>
            }

            @if (successPopup)
            {
                <div class="modal">
                    <div class="modal-content">
                        <div class="modal-header">
                            Alert <span class="close" @onclick="ToggleSuccessPopup">&times;</span>
                        </div>
                        <div class="modal-body">
                            @Message
                        </div>
                        <div class="modal-footer">
                            <input type="button" class="btn btn-primary" value="Close" @onclick="ToggleSuccessPopup" />
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}
else
{
    <p>No user data found. Please <a href="/login">login</a>.</p>
}

@code {
    private UserModel user;
    private UserModel userToUpdate;
    private bool showEditPopup = false;
    public bool successPopup = false;
    string Message = string.Empty;
    private string headerText = "MyAccount";
    private bool myAccountFlag = true;
    private bool changePasswordFlag = false;
    private bool orderHistoryFlag = false;

    protected override async Task OnInitializedAsync()
    {
        await LoadUserData();
        await ChangeActiveMenu("MyAccount"); // Show MyAccount As a default
    }

    protected override async Task OnParametersSetAsync()
    {
        await LoadUserData(); // Reload user data when parameters are set or updated
    }

    private async Task LoadUserData()
    {
        try
        {
            var userJson = await SecureStorage.Default.GetAsync("User");
            if (!string.IsNullOrEmpty(userJson))
            {
                user = JsonConvert.DeserializeObject<UserModel>(userJson);
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error loading user data: {ex.Message}");
            navManager.NavigateTo("/login");
        }
    }

    private async Task ChangeActiveMenu(string menu)
    {
        headerText = menu;
        switch (menu)
        {
            case "MyAccount":
                myAccountFlag = true;
                changePasswordFlag = false;
                orderHistoryFlag = false;
                break;

            case "ChangePassword":
                myAccountFlag = false;
                changePasswordFlag = true;
                orderHistoryFlag = false;
                break;

            case "OrderHistory":
                myAccountFlag = false;
                changePasswordFlag = false;
                orderHistoryFlag = true;
               // await GetOrderByUserID(user.Id);
                break;
        }
        StateHasChanged();
    }

    private void EditButtonClick(UserModel userToUpdate)
    {
        this.userToUpdate = userToUpdate;
        ToggleEditPopup();
    }

    private void ToggleEditPopup()
    {
        showEditPopup = !showEditPopup;
    }

    private async Task UpdateUser()
    {
        var updatedUser = await webShopAppService.UpdateUserAsync(userToUpdate);

        if (updatedUser != null)
        {
            await SecureStorage.Default.SetAsync("User", JsonConvert.SerializeObject(updatedUser)); // Update SecureStorage
            ToggleEditPopup();
            Message = "User Updated Successfully !!";
            ToggleSuccessPopup();
            userToUpdate = new UserModel();
            user = updatedUser;
        }
        else
        {
            Message = "Failed to update user!!";
            ToggleSuccessPopup();
        }
    }

    private void ToggleSuccessPopup()
    {
        successPopup = successPopup == true ? false : true;
    }
}
