@using WebShopApp_Blazor.Models
@using WebShopApp_Blazor.Services
@inject IWebShopAppService webShopAppService
@inject NavigationManager navManager;
@inject ProtectedSessionStorage sessionStorage;

    @if (users == null)
    {
        <span>Indlæser...</span>
    }
    else
    {
        <div class="card">
            <h4 class="card-header">Brugere</h4>

            <div class="card-body">
                <table class="table table-striped table-bordered bg-light user-table">
                    <thead>
                        <tr>
                            <th class="button-cell">Nr.</th>
                            <th class="button-cell">Navn</th>
                            <th class="button-cell">E-mail</th>
                            <th class="button-cell">Mobil</th>
                            <th class="button-cell">Rolle</th>
                            <th class="button-cell">Rediger</th>
                            <th class="button-cell">Ordrer</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var (index, user) in users.Select((user, i) => (i + 1, user)))
                        {
                            <tr>
                                <td class="button-cell">@index</td>
                                <td class="button-cell">@user.Name</td>
                                <td class="button-cell">@user.Email</td>
                                <td class="button-cell">@user.Mobile</td>
                                <td class="button-cell">@(user.Roles == 1 ? "Admin" : "User")</td>
                                <td class="button-cell">
                                    <button class="btn custom-btn" @onclick="(() => EditUser(user))">
                                        <i class="fa fa-pencil"></i>
                                    </button>
                                </td>
                                <td class="button-cell">
                                    <button class="btn custom-btn" @onclick="(() => ViewUserOrderDetails(user.Id))">
                                        <i class="fa fa-info-circle"></i>
                                    </button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }

@if (showAlertMessage)
{
    <div class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <span></span>
                <button class="custom-close" @onclick="ToggleSuccessPopup">&times;</button>
            </div>
            <div class="modal-body">
                @Message
            </div>
            <div class="modal-footer">
                <input type="button" class="close-btn" value="Luk" @onclick="ToggleSuccessPopup" />
            </div>
        </div>
    </div>
}

@if (showEditPopup)
{
    <div class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Rediger Bruger</h5>
                <button class="custom-close" @onclick="ToggleEditPopup">&times;</button>
            </div>
            <div class="modal-body">
                <EditForm Model="@userToEdit" OnValidSubmit="UpdateUser">
                    <div class="user-info">
                        <label>Navn:</label>
                        <InputText @bind-Value="userToEdit.Name" class="form-control" />
                    </div>
                    <div class="user-info">
                        <label>E-mail:</label>
                        <InputText @bind-Value="userToEdit.Email" class="form-control" />
                    </div>
                    <div class="user-info">
                        <label>Mobil:</label>
                        <InputText @bind-Value="userToEdit.Mobile" class="form-control" />
                    </div>
                    <div class="user-info">
                        <label>Adresse:</label>
                        <InputText @bind-Value="userToEdit.Address" class="form-control" />
                    </div>
                    <div class="user-info">
                        <label>Rolle:</label>
                        <select @bind="@userToEdit.Roles" class="form-control">
                            <option value="1">Admin</option>
                            <option value="0">User</option>
                        </select>
                    </div>
                </EditForm>
            </div>
            <div class="modal-footer">
                <input type="button" class="modal-btn cancel" value="Annuller" @onclick="ToggleEditPopup" />
                <input type="submit" class="modal-btn confirm" value="Gem" @onclick="UpdateUser" />
            </div>
        </div>
    </div>
}

@if (showOrderDetailsPopup)
{
    <div class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Ordredetaljer</h5>
                <button class="custom-close" @onclick="ToggleOrderDetailsPopup">&times;</button>
            </div>
            <div class="modal-body" style="height: 500px; overflow-y:scroll;">
                @if (orderDetailsWithOrderId == null || orderDetailsWithOrderId.Count == 0)
                {
                    <p>Ingen ordrer fundet for denne bruger</p>
                }
                else
                {
                    @foreach (var order in orderDetailsWithOrderId)
                    {
                        <div class="order-container" style="margin-bottom: 20px;">
                            <h6 style="color:coral; font-weight:bold; text-align:left; padding:5px;">Ordre-ID: @order.OrderId</h6>  @* Display Order ID *@

                            <table class="table table-striped table-bordered bg-light">
                                <tbody>
                                    @foreach (var item in order.Details)
                                    {
                                        <tr>
                                            <th>Produkt billede:</th>
                                            <td>
                                                <img src="@item.ProductImage" alt="@item.ProductName" style="width: 70px; height: auto;" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Produkt navn:</th>
                                            <td>@item.ProductName</td>
                                        </tr>
                                        <tr>
                                            <th>Antal:</th>
                                            <td>@item.Quantity</td>
                                        </tr>
                                        <tr>
                                            <th>Adresse:</th>
                                            <td>@item.ShippingAddress</td>
                                        </tr>
                                        <tr>
                                            <th>Pris:</th>
                                            <td>$@item.Price.00</td>
                                        </tr>
                                        <tr>
                                            <th>Fragt:</th>
                                            <td>$@item.ShippingCharges.00</td>
                                        </tr>
                                        <tr>
                                            <th>Total:</th>
                                            <td>$@item.Total.00</td>
                                        </tr>
                                        <tr>
                                            <th>Betalingsmetode:</th>
                                            <td>@item.PaymentMode</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>

                        <hr style="border-top: 1px solid #ddd;" />
                    }
                }
            </div>
            <div class="modal-footer">
                <input type="button" class="close-btn" value="Luk" @onclick="ToggleOrderDetailsPopup" />
            </div>
        </div>
    </div>

}

@code {
    public List<UserModel> users { get; set; }
    public UserModel userToEdit { get; set; }
    public List<OrderWithDetails> orderDetailsWithOrderId { get; set; }
    public bool showEditPopup = false;
    public bool showOrderDetailsPopup = false;

    public bool showAlertMessage = false;
    public string Message = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        await GetUsers();
    }

    private async Task GetUsers()
    {
        users = await webShopAppService.GetUsersAsync();
    }

    private void EditUser(UserModel user)
    {
        userToEdit = user;
        ToggleEditPopup();
    }

    private async Task UpdateUser()
    {
        var updatedUser = await webShopAppService.UpdateUserAsync(userToEdit);
        if (updatedUser != null)
        {
            ToggleEditPopup();
            Message = "User Updated Successfully !!";
            ToggleSuccessPopup();
            await GetUsers(); // Reload users after update
        }
        else
        {
            Console.WriteLine("Failed to update user role");
            ToggleSuccessPopup();
        }
    }

    private async Task ViewUserOrderDetails(int userId)
    {
        var orders = await webShopAppService.GetOrdersByUserId(userId);

        if (orders != null && orders.Count > 0)
        {
            orderDetailsWithOrderId = new List<OrderWithDetails>();  // Use the new class here

            foreach (var order in orders)
            {
                if (!string.IsNullOrEmpty(order.OrderId))
                {
                    var details = await webShopAppService.GetOrderDetailForUser(userId, order.OrderId);
                    if (details != null)
                    {
                        orderDetailsWithOrderId.Add(new OrderWithDetails
                            {
                                OrderId = order.OrderId,
                                Details = details
                            });
                    }
                }
            }
        }
        else
        {
            // No orders found for this user
            orderDetailsWithOrderId = null;
        }
        ToggleOrderDetailsPopup();
    }

    private void ToggleEditPopup()
    {
        showEditPopup = !showEditPopup;
    }

    private void ToggleOrderDetailsPopup()
    {
        showOrderDetailsPopup = !showOrderDetailsPopup;
    }

    private void ToggleSuccessPopup()
    {
        showAlertMessage = showAlertMessage == true ? false : true;
    }
}
